<header>
  <nav>
    <div class="logo">
      <a routerLink="">Desafios Codelândia</a>
    </div>

    <ul class="links">
      <li>
        <a class="link" href="https://github.com/ivanconsalter" target="_blank">
          <ng-icon class="icon" name="bootstrapGithub">
          </ng-icon>
        </a>
      </li>
      <li>
        <a class="link" href="https://www.linkedin.com/in/ivanconsalter/" target="_blank">
          <ng-icon class="icon" name="bootstrapLinkedin">
          </ng-icon>
        </a>
      </li>
    </ul>

  </nav>
</header>
