<div class="body">
  <div class="body-content">
    <div class="body-content-img">
      <img src="../../../assets/challenges/login/img/illustration.svg" alt="login">
    </div>
    <div class="body-content-login">
      <div>
        <div class="title">
          <p>Bem vindo de volta</p>
          <p>Faça login na sua conta</p>
        </div>
        <form>
          <div class="email">
            <label for="email">E-mail</label>
            <input type="email" input="email">
          </div>
          <div class="password">
            <label for="password">Senha</label>
            <input type="password" id="password">
          </div>
        </form>
        <div class="remember-or-forgot-password">
          <div class="remember-me">
            <input type="checkbox" id="remember">
            <label for="remember">Lembre de mim</label>
          </div>
          <a href="javascript:void(0)">Esqueceu sua senha?</a>
        </div>
        <div class="submit-btns">
          <button>Entrar</button>
          <button class="btn-google">
            <img src="../../../assets/challenges/login/img/google.png" alt="logo-google">
            <span> Ou faça login com o Google</span>
          </button>
        </div>
        <div class="create-account">
          <p>Não tem uma conta? <a href="javascript:void(0)">Cadastre-se</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
