<div class="html">
  <div class="header">
    <div class="discount">
      Ganhe R$ 10,00 de desconto no frete
    </div>
    <div class="title">
      JordanShoes
    </div>
    <div class="info">
      <h1>A melhor loja de Jordan</h1>
      <p>O tênis Jordan é fruto de uma velha e forte parceria entre a Nike e o jogador Michael Jordan</p>
    </div>
  </div>

  <div class="body">
    <p>Destaques</p>
    <p>Frete grátis e chinelo de brinde é aqui, aproveite por tempo limitado.</p>
    <div class="img-container">
      <img src="../../../assets/jordan-shoes/img/1.png" alt="jordan-shoes">
      <img src="../../../assets/jordan-shoes/img/2.png" alt="jordan-shoes">
      <img src="../../../assets/jordan-shoes/img/3.png" alt="jordan-shoes">
      <img src="../../../assets/jordan-shoes/img/4.png" alt="jordan-shoes">
      <img src="../../../assets/jordan-shoes/img/5.png" alt="jordan-shoes">
      <img src="../../../assets/jordan-shoes/img/6.png" alt="jordan-shoes">
      <img src="../../../assets/jordan-shoes/img/7.png" alt="jordan-shoes">
      <img src="../../../assets/jordan-shoes/img/8.png" alt="jordan-shoes">
    </div>
  </div>

  <div class="footer">
    <p>&copy; Todos os direitos reservados.</p>
  </div>

</div>
