<div class="hero">
  <header>
    <div class="logo">
      <img src="./assets/challenges/chihiro/img/logo.svg" alt="Logo Chihiro" />
    </div>
    <nav>
      <ul>
        <li>
          <a href="https://www.facebook.com" target="_blank"><ng-icon name="bootstrapFacebook" color="white" size="1.3em"></ng-icon></a>
        </li>
        <li>
          <a href="https://www.facebook.com" target="_blank"><ng-icon name="bootstrapInstagram" color="white" size="1.3em"></ng-icon></a>
        </li>
        <li>
          <a href="https://www.facebook.com" target="_blank"><ng-icon name="bootstrapTwitter" color="white" size="1.3em"></ng-icon></a>
        </li>
        <li>
          <a href="https://www.facebook.com" target="_blank"><ng-icon name="bootstrapYoutube" color="white" size="1.3em"></ng-icon></a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="content">
    <div class="content__text">
      <h3>
        Hayao Miyazaki
      </h3>
      <h1>
        A Viagem de Chihiro
      </h1>
      <p>
        Chihiro chega a um mundo mágico dominado por uma bruxa. Aqueles que a desobedecem são transformados em animais.
      </p>

      <div class="content__text__buttons">
        <button class="btn btn__primary"><ng-icon name="bootstrapPlay" color="white" size="1.3em"></ng-icon> Assista agora</button>
        <button class="btn btn__secondary">Assista ao Trailer</button>
      </div>
    </div>
    <div class="content__img">
      <img src="./assets/challenges/chihiro/img/ilustracao.png" alt="Chihiro">
    </div>
  </div>
</div>
