<app-navbar></app-navbar>
<div class="container">
  <div class="content">
    <div class="card" routerLink="/blog">
      <img src="../../assets/images/1-blog.png" alt="Desafio 1 - Blog">
      <div class="title">
        #1 - Blog
      </div>
    </div>
    <div class="card" routerLink="/jordan-shoes">
      <img src="../../assets/images/2-jordan-shoes.png" alt="Desafio 2 - JordanShoes">
      <div class="title">
        #2 - JordanShoes
      </div>
    </div>
    <div class="card" routerLink="/one-page">
      <img src="../../assets/images/3-one-page.png" alt="Desafio 3 - OnePage">
      <div class="title">
        #3 - OnePage
      </div>
    </div>
    <div class="card" routerLink="/login">
      <img src="../../assets/images/4-login.png" alt="Desafio 4 - Login">
      <div class="title">
        #4 - Login
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
