.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  padding: 3rem 2rem;

  .card {
    background: #0E091B;
    border: 1px solid #04D361;
    border-radius: .4rem;
    padding: 1rem;
    cursor: pointer;

    img {
      width: 100%;
      max-width: 100%;
      object-fit: cover;
    }

    .title {
      text-align: center;
      padding: 1rem 0;
      font-size: 1.2rem;
    }
  }
}
